@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font: 'Inter', sans-serif;


:root {
    --bg-color: #1f1f1f;
    --main-blue: #0C91FC;
    --primary-color: #FFF;
    --main-dark-blue: #013A51;
    --light-blue: rgba(1, 58, 81, .5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
    color: var(--primary-color);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

button {
    border: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background: var(--bg-color);
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1320px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.nav {
    &__contact-links-item {
        .item-icon i {
            color: var(--main-blue);
        }
    }
    
    .modal-policy-txt {
        span {
            color: var(--main-blue);
        }
    }
}

img {
    pointer-events: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-blue);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.advantages__section {
    .card-lg {
        &.blue {
            .card-txt span {
                font-size: 40px !important;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }

    .card-md {
        .card-txt span {
            font-size: 15px;

            &::first-letter {
                text-transform: uppercase;
            }
        }
    }
}

.all-title {
    font-size: calc(24px + 24 * (100vw / 1920));
    color: var(--primary-color);

    &::first-letter {
        text-transform: uppercase;
    }
}

@media (min-width: 1920px) {
    .all-title {
        font-size: 48px !important;
    }
}

@media (max-width: 992px) {
    .all-title {
        font-size: calc(24px + (24 + 24 * 0.7) * ((100vw - 320px)/ 1920)) !important;
    }
}

.product-slider, .catalog__section, .product__section {
    .product-type {
        span {
            font-size: 18px;
            color: var(--main-dark-blue);
        }
    }

    .product__info-list-item, .product__system-list-item, .all-list-item {
        span {
            color: var(--main-dark-blue);

            &.main-blue {
                color: var(--main-blue);
            }
        }
    }
}

.footer {
    .contact-icon i {
        color: var(--main-blue);
    }

    .contact-txt {
        span {
            font-size: 12px;
            color: var(--main-blue);
        }
    }
}

.product__section {
    .all-list {
        &-item {
            font-weight: 500;
            color: var(--light-blue);
        }
    }
}

.blue-btn {
    font-size: 17px;
    background: #0C91FC;
    border-radius: 10px;
    font-weight: 500;
    padding: 15px 30px;

    &::first-letter {
        text-transform: uppercase;
    }

    &:hover {
        background-color: rgba($color: #0C91FC, $alpha: .75);
    }
}

.light-btn {
    font-size: 17px;
    font-weight: 500;
    background: #fff;
    border-radius: 10px;
    padding: 15px 30px;
    color: var(--main-dark-blue);
    border: solid 2px var(--main-dark-blue);

    &::first-letter {
        text-transform: uppercase;
    }

    &:hover {
        background: var(--main-dark-blue);
        color: var(--primary-color);
    }
}